<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>framework</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring/**/applicationContext.xml,classpath*:spring/**/applicationContext*.xml</param-value>
	</context-param>
	
    
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>jrds.webapp.StartListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
	</listener>
<!--	<listener>
	     <listener-class>org.hx.rainbow.common.web.listener.RainbowSessionListener</listener-class>
	</listener>
	
 	<listener>
	     <listener-class>org.hx.rainbow.common.dao.OwnerMapDB</listener-class>
	</listener>

	<listener>
	     <listener-class>com.spl.wsplat.ws.listener.DBListener</listener-class>
	</listener>
	<listener>
	     <listener-class>com.spl.wsplat.ws.listener.AQListener</listener-class>
	</listener>  -->
	
	<!-- 权限 -->
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>
            org.springframework.web.filter.DelegatingFilterProxy
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<!-- 解决工程编码过滤器 -->
	<filter>
	    <filter-name>characterEncodingFilter</filter-name>
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	    <init-param>
	        <param-name>encoding</param-name>
	        <param-value>UTF-8</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>characterEncodingFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
    	<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
  	</listener>

  
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:spring/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!--
	<servlet>
	<servlet-name>Kaptcha</servlet-name>
	<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>

	
		For a complete list of Init Parameters, please see:
		http://code.google.com/p/kaptcha/wiki/ConfigParameters
	
	<init-param>
		<param-name>kaptcha.border</param-name>
		<param-value>no</param-value>
	</init-param>
	
	<init-param>
		<param-name>kaptcha.noise.impl</param-name>
		<param-value>com.google.code.kaptcha.impl.NoNoise</param-value>
	</init-param>

	<init-param>
		<param-name>kaptcha.textproducer.font.color</param-name>
		<param-value>white</param-value>
	</init-param>

	<init-param>
		<param-name>kaptcha.textproducer.char.space</param-name>
		<param-value>5</param-value>
	</init-param>
	
	<init-param>
		<param-name>kaptcha.textproducer.font.names</param-name>
		<param-value>微软雅黑</param-value>
	</init-param>
	
	<init-param>
		<param-name>kaptcha.background.clear.from</param-name>
		<param-value>47,77,145</param-value>
	</init-param>
	
	<init-param>
		<param-name>kaptcha.background.clear.to</param-name>
		<param-value>47,77,145</param-value>
	</init-param>
	

	</servlet>

	<servlet-mapping>
		<servlet-name>Kaptcha</servlet-name>
		<url-pattern>/Kaptcha.jpg</url-pattern>
	</servlet-mapping>-->
	
	
	<!-- ws start
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>-->
     <!-- ws end -->
     
   <session-config>
         <session-timeout>20</session-timeout>
   </session-config>
    <!-- Jrds -->
  <servlet>
		<servlet-name>CheckValues</servlet-name>
		<servlet-class>jrds.webapp.CheckValues</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Graph</servlet-name>
		<servlet-class>jrds.webapp.Graph</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>jrds.webapp.Download</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reload</servlet-name>
		<servlet-class>jrds.webapp.ReloadHostList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>probesummary</servlet-name>
		<servlet-class>jrds.webapp.ProbeSummary</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>probedetails</servlet-name>
		<servlet-class>jrds.webapp.JSonDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>whichlibs</servlet-name>
		<servlet-class>jrds.webapp.WhichLibs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>status</servlet-name>
		<servlet-class>jrds.webapp.Status</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>discover</servlet-name>
		<servlet-class>
			jrds.webapp.Discover</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSonTree</servlet-name>
		<servlet-class>
			jrds.webapp.JSonTree</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSonGraph</servlet-name>
		<servlet-class>
			jrds.webapp.JSonGraph</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSonPeriod</servlet-name>
		<servlet-class>
			jrds.webapp.JSonPeriod</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSonQueryParams</servlet-name>
		<servlet-class>
			jrds.webapp.JSonQueryParams</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Cmd</servlet-name>
		<servlet-class>
			jrds.webapp.Cmd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XmlRpcServlet</servlet-name>
		<servlet-class>jrds.webapp.rpc.JrdsXmlRpcServlet</servlet-class>
		<init-param>
			<param-name>enabledForExtensions</param-name>
			<param-value>true</param-value>
			
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>JSonPack</servlet-name>
		<servlet-class>
			jrds.webapp.JSonPack</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>
			jrds.webapp.Upload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetDiscoverHtmlCode</servlet-name>
			<servlet-class>
			jrds.webapp.GetDiscoverHtmlCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckValues</servlet-name>
		<url-pattern>/jrds/values/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Graph</servlet-name>
		<url-pattern>/jrds/graph</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Graph</servlet-name>
		<url-pattern>/jrds/graph/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/jrds/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/jrds/download/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reload</servlet-name>
		<url-pattern>/jrds/reload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>probesummary</servlet-name>
		<url-pattern>/jrds/summary</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>probedetails</servlet-name>
		<url-pattern>/jrds/details</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>whichlibs</servlet-name>
		<url-pattern>/jrds/whichlibs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>status</servlet-name>
		<url-pattern>/jrds/status</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>discover</servlet-name>
		<url-pattern>/jrds/discover</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSonTree</servlet-name>
		<url-pattern>/jrds/jsontree</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSonGraph</servlet-name>
		<url-pattern>/jrds/jsongraph</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSonPeriod</servlet-name>
		<url-pattern>/jrds/jsonperiod</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSonQueryParams</servlet-name>
		<url-pattern>/jrds/queryparams</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cmd</servlet-name>
		<url-pattern>/jrds/cmd/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XmlRpcServlet</servlet-name>
		<url-pattern>/jrds/xmlrpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XmlRpcServlet</servlet-name>
		<url-pattern>/jrds/xmlrpc/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSonPack</servlet-name>
		<url-pattern>/jrds/jsonpack/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/jrds/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDiscoverHtmlCode</servlet-name>
		<url-pattern>/jrds/discoverhtml</url-pattern>
	</servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

</web-app>


