BODY {
	PADDING-RIGHT: 0px; MARGIN-TOP: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 12px/150% arial, 宋体; COLOR: #000000; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.input {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
.txt {
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; BORDER-LEFT: #7b9ebd 1px solid; WIDTH: 170px; BORDER-BOTTOM: #7b9ebd 1px solid; HEIGHT: 16px
}
.regtxt {
	BORDER-RIGHT: #281e78 1px solid; BORDER-TOP: #281e78 1px solid; BORDER-LEFT: #281e78 1px solid; WIDTH: 170px; BORDER-BOTTOM: #281e78 1px solid; HEIGHT: 21px;
	font-size:14px; color:#281e78;
}
.checkcode {
	BORDER-RIGHT: #281e78 1px solid; BORDER-TOP: #281e78 1px solid; BORDER-LEFT: #281e78 1px solid; WIDTH: 50px; BORDER-BOTTOM: #281e78 1px solid; HEIGHT: 21px;
	font-size:14px; color:#281e78;
}
.checkCodeImg {
	HEIGHT: 24px;
	width: 86px;
}
.login-box .msg {
	WIDTH: 100px; MARGIN-LEFT: 20px; OVERFLOW: hidden;
}
.login-box .msg P {
	WORD-WRAP: break-word; WHITE-SPACE: normal; FLOAT: none
}
.login-box .msg P.error {
	color: #ff8080;BORDER-BOTTOM-COLOR: #ff8080; PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; BORDER-TOP-COLOR: #ff8080; PADDING-LEFT: 23px; PADDING-RIGHT: 10px;BORDER-RIGHT-COLOR: #ff8080; BORDER-LEFT-COLOR: #ff8080; PADDING-TOP: 2px
}
.message{
	color: #ff8080;
}

.regtxt1 {
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; BORDER-LEFT: #7b9ebd 1px solid; WIDTH: 340px; BORDER-BOTTOM: #7b9ebd 1px solid; HEIGHT: 21px
}
.regtxt2 {
	BORDER-RIGHT: #7b9ebd 1px solid; BORDER-TOP: #7b9ebd 1px solid; BORDER-LEFT: #7b9ebd 1px solid; WIDTH: 340px; BORDER-BOTTOM: #7b9ebd 1px solid; HEIGHT: 84px
}
DIV.login {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; FONT: 12px/120% arial, 宋体; COLOR: #000000; PADDING-TOP: 5px; TEXT-ALIGN: left
}
SPAN.red {
	FONT: 12px arial, 宋体; COLOR: #ff0000
}
SPAN.rred {
	FONT: 14px arial, 宋体; COLOR: #ff0000
}
SPAN.black {
	FONT: 14px arial, 宋体; COLOR: #000000
}
SPAN.b_red {
	FONT: bold 14px arial, 宋体; COLOR: #ff0000
}
SPAN.b_black {
	FONT: bold 14px arial, 宋体; COLOR: #000000
}
SPAN.b_gray {
	FONT: bold 14px arial, 宋体; COLOR: #808080
}
SPAN.gray {
	FONT: 14px arial, 宋体; COLOR: #808080
}
SPAN.blue {
	FONT: 14px arial, 宋体; COLOR: #0000ff
}
DIV.headRight {
	PADDING-TOP: 10px; TEXT-ALIGN: right
}
DIV.title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 14px arial, 宋体; PADDING-TOP: 5px
}
DIV.headtitle {
	PADDING-RIGHT: 10px; BORDER-TOP: #000000 2px solid; PADDING-LEFT: 10px; BACKGROUND: #a5d700; PADDING-BOTTOM: 5px; FONT: bold 12px arial, 宋体; COLOR: #ffffff; PADDING-TOP: 5px; TEXT-ALIGN: left
}
DIV.footer {
	PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; FONT: 12px arial, 宋体; PADDING-TOP: 5px
}
DIV.gray {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; FONT: 12px arial, 宋体; PADDING-TOP: 8px; HEIGHT: 40px; TEXT-ALIGN: left
}
LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; FONT: 12px arial, 宋体; COLOR: #ff0000; PADDING-TOP: 0px; TEXT-ALIGN: left
}
A:link {
	COLOR: #012f94; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #012f94; TEXT-DECORATION: underline
}
A.black:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.black:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.black:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.red {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
LABEL {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; WIDTH: 150px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.button {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #fefefe 1px solid; FONT-SIZE: 12px; BACKGROUND: #ececec; BORDER-LEFT: #fefefe 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #aaaaaa 1px solid; WHITE-SPACE: normal; HEIGHT: 25px
}
#Container {
	MARGIN-LEFT: auto; WIDTH: 760px; MARGIN-RIGHT: auto
}
DIV.header {
	PADDING-BOTTOM: 1px; WIDTH: 760px
}
#header {
	WIDTH: 760px
}
#head {
	WIDTH: 760px; BORDER-BOTTOM: #a5b7e9 3px solid
}
#contentLeft {
	FLOAT: left; WIDTH: 300px
}
#contentRight {
	FLOAT: left; WIDTH: 460px
}
#content {
	WIDTH: 760px; BACKGROUND-COLOR: #eaf2fd
}
#login {
	WIDTH: 100%; TEXT-ALIGN: left
}
#SIMG {
	TEXT-ALIGN: right
}
#idprotect {
	BORDER-RIGHT: #f5f5f5 5px solid; BORDER-TOP: #f5f5f5 5px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: #f5f5f5 5px solid; WIDTH: 750px; BORDER-BOTTOM: #f5f5f5 5px solid
}
#regLeft {
	FLOAT: left; WIDTH: 330px
}
#regRight {
	BACKGROUND: #f5f5f5; FLOAT: left; WIDTH: 420px
}
#reg {
	WIDTH: 750px
}
A.a02:active {
	FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a02:hover {
	FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a03:link {
	FONT-SIZE: 12px; COLOR: #aeb0b3; TEXT-DECORATION: underline
}
A.a03:visited {
	FONT-SIZE: 12px; COLOR: #aeb0b3; TEXT-DECORATION: underline
}
A.a03:active {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a03:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
.ft02 {
	FONT-SIZE: 12px; COLOR: #999999
}
