<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EXPLAINSQL">

	<select id="explainMycat" resultType="map" parameterType="map">
		explain ${sql}
	</select>
	
	<select id="explainMysql" resultType="map" parameterType="map">
		explain2 datanode=${dataNode} sql=${sql}
	</select>
	
</mapper>