<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OCMYCAT">

	<select id="load" resultType="map" parameterType="map">
		SELECT 
				GUID	as "guid",  <!-- guid -->
				PARAM_NAME	as "paramName",  <!-- 属性名称 -->
				PARAM_VALUE	as "paramValue",  <!-- 属性值 -->
				RAMARK	as "ramark",  <!-- 功能描述 -->
				CREATE_TIME	as "createTime",  <!-- 创建时间 -->
				CREATE_USER	as "createUser" <!-- 创建人 -->
		FROM T_OC_MYCAT
		<where>
				and GUID = #{guid}
		</where>

	</select>

	<select id="query" resultType="map" parameterType="map">
		SELECT
				GUID	as "guid",  <!-- guid -->
				PARAM_NAME	as "paramName",  <!-- 属性名称 -->
				PARAM_VALUE	as "paramValue",  <!-- 属性值 -->
				RAMARK	as "ramark",  <!-- 功能描述 -->
				CREATE_TIME	as "createTime",  <!-- 创建时间 -->
				CREATE_USER	as "createUser" <!-- 创建人 -->
		FROM T_OC_MYCAT
		<where>
			<if test="guid != null">
				and GUID = #{guid}
			</if>
			<if test="paramName != null">
				and PARAM_NAME = #{paramName}
			</if>
			<if test="paramValue != null">
				and PARAM_VALUE = #{paramValue}
			</if>
			<if test="ramark != null">
				and RAMARK = #{ramark}
			</if>
			<if test="createTime != null">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="createUser != null">
				and CREATE_USER = #{createUser}
			</if>
			<if test="whereex != null">
				and ${whereex}
			</if>
		</where>
	</select>

	<select id="count" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM T_OC_MYCAT 
		<where>
			<if test="guid != null">
				and GUID = #{guid}
			</if>
			<if test="paramName != null">
				and PARAM_NAME = #{paramName}
			</if>
			<if test="paramValue != null">
				and PARAM_VALUE = #{paramValue}
			</if>
			<if test="ramark != null">
				and RAMARK = #{ramark}
			</if>
			<if test="createTime != null">
				and CREATE_TIME = #{createTime}
			</if>
			<if test="createUser != null">
				and CREATE_USER = #{createUser}
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="map">
		INSERT INTO T_OC_MYCAT (
			GUID,  <!-- guid -->
			PARAM_NAME,  <!-- 属性名称 -->
			PARAM_VALUE,  <!-- 属性值 -->
			RAMARK,  <!-- 功能描述 -->
			CREATE_TIME,  <!-- 创建时间 -->
			CREATE_USER  <!-- 创建人 -->
		)
		VALUES ( 
			#{guid, jdbcType=NVARCHAR}, 
			#{paramName, jdbcType=NVARCHAR}, 
			#{paramValue, jdbcType=NVARCHAR}, 
			#{ramark, jdbcType=NVARCHAR}, 
			#{createTime, jdbcType=DATE,typeHandler=DateHandler}, 
			#{createUser, jdbcType=NVARCHAR}		)
	</insert>
  
	<delete id="delete" parameterType="map">
		DELETE FROM T_OC_MYCAT 
		<where> 
			GUID = #{guid}
		</where>
	</delete>

	<update id="update" parameterType="map">
		UPDATE T_OC_MYCAT  
		<set>
			<if test="guid != null">
				GUID = #{guid, jdbcType=NVARCHAR},
			</if>
			<if test="paramName != null">
				PARAM_NAME = #{paramName, jdbcType=NVARCHAR},
			</if>
			<if test="paramValue != null">
				PARAM_VALUE = #{paramValue, jdbcType=NVARCHAR},
			</if>
			<if test="ramark != null">
				RAMARK = #{ramark, jdbcType=NVARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime, jdbcType=DATE,typeHandler=DateHandler},
			</if>
			<if test="createUser != null">
				CREATE_USER = #{createUser, jdbcType=NVARCHAR}
			</if>
		</set>
		<where>
			GUID = #{guid}
		</where>
	</update>
</mapper>